body {
    font-family: Luminari, fantasy;
    line-height: 1.5;
  
    background-color: #fb30d6;
    color: #26a40c;
  
    width: 980px;
    margin: 0 auto;
  }
  
  h1 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 0;
  }
  
  main > h2 {
    text-align: center;
    font-size: 25px;
  }